{{ define "main" }}
  {{ with .Content }}
    <section class="section">
      <div class="container">
        <div class="content">
          {{ . }}
        </div>
      </div>
    </section>
  {{ end }}

  <section class="section">
    <div class="container">
      <div class="columns">
        {{ range .Pages }}
          <div class="column">
            <h3 class="title is-5"><a href="{{ .RelPermalink }}" class="has-text-dark">{{ .Title }}</a></h3>
            <p class="content"><small>{{ .Summary }}</small></p>
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
