<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <section class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ $.Site.Home.Permalink }}">
        <figure class="image">
          <img alt="Build Brighton - Makerspace" src="/img/build-brighton-logo.png">
        </figure>
      </a>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="mainNavbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    
    <div id="mainNavbar" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          About Us
        </a>
        <a class="navbar-item">
          The Space
        </a>
        <a class="navbar-item">
          Visit Us
        </a>
        <a class="navbar-item">
          FAQs
        </a>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              Members Area
            </a>
            <a class="button">
              <strong>Join Us</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</nav>