<nav class="navbar" role="navigation" aria-label="main navigation">
  <section class="container">
    <div class="navbar-brand">
      <h1>
        <a class="navbar-item" href="{{ $.Site.Home.RelPermalink }}">
          <img alt="Build Brighton Makerspace" src="/img/build-brighton-logo.png">
        </a>
      </h1>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="mainNavbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    
    <div id="mainNavbar" class="navbar-menu">
      <div class="navbar-start">
        {{ with .Site.GetPage "/home" }}
          {{ $pages := .Resources.ByType "page" }}

          {{ range sort $pages "Params.weight" }}
            {{ if .Params.anchor }}
              <a class="navbar-item" href="/#{{ .Params.anchor }}">
                {{ if .Params.navbarTitle }}
                  {{ .Params.navbarTitle }}
                {{ else }}
                  {{ .Title }}
                {{ end }}
              </a>
            {{ end }}
          {{ end }}
        {{ end }}
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary" href="{{ .Site.Params.bbmsHome }}">
              Members Area
            </a>
            <a class="button" href="{{ relref . "join" }}">
              Join
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</nav>