<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

{{ template "_internal/opengraph.html" . }}

<script type='application/ld+json'>
{
    "@context": "http://www.schema.org",
    "@type": "Organization",
    "name": "Build Brighton",
    "url": "https://buildbrighton.com",
    "email": "{{ .Site.Params.email }}",
    "logo": "https://buildbrighton.com/img/build-brighton-logo.png",
    "description": "{{ .Site.Params.description }}",
    "address": {
        "@type": "PostalAddress",
        "streetAddress": "Rodhus Studios (back entrance), Freehold Terrace",
        "addressLocality": "Brighton",
        "postalCode": "BN2 4AB",
        "addressCountry": "United Kingdom"
    },
    "location": {
        "@type": "Place",
        "geo": {
            "@type": "GeoCoordinates",
            "latitude": "50.83844574487016",
            "longitude": "-0.12688994407653809"
        }
    },
    "sameAs": [
        "https://www.instagram.com/buildbrighton",
        "https://www.facebook.com/BuildBrighton",
        "https://twitter.com/buildbrighton",
        "https://goo.gl/maps/EuPPHeV1ddeLD9R57"
    ]
}
</script>