<!-- In the future this could automatically be transformed to the next date by Javascript -->
<span class="next-open-evening-date"><b>Covid-19 Update:</b> Build Brighton will re-open to existing members on <i>April 12</i>, in line with government guidelines. Only two members will be allowed to use the space, strictly in separate rooms only.
<br /><br />
At this stage we are unable to perform open evenings or inductions for new members, due to restrictions on indoor mixing between households. However, we are currently trialling a fast-track programme for eligible new members – at the discretion of the trustees, we might be able to skip inductions and issue keys directly for new members who can provide a written reference from a previous makerspace or from their employer. Please get in touch with us to find out more!
<br /><br />
As soon as Covid restrictions permit, we will resume our open evenings – these are usually held once every two weeks. If you are interested in joining please get in touch and we will contact you as soon as we are able to accept and induct new members.
<br /><br />
Face masks and sanitiser are used throughout the space. Access is organised via pre-booked sessions, to ensure social mixing is limited as much as possible.
<br /><br />
All equipment is cleaned down before and after use, and members submit photographs as they enter and leave the space to ensure cleanliness is met. Build Brighton is also participating in track and trace to protect its members, whose details are logged electronically upon entry to the workshop.
</span>
