<!-- In the future this could automatically be transformed to the next date by Javascript -->
<span class="next-open-evening-date"><b>Covid-19 Update:</b> Build Brighton is re-opening to existing members from April 12<sup>th</sup>, limited to two people per session in strictly separated rooms.
<br /><br />
From May 17<sup>th</sup>, we will be taking on new members as the rule of 6 for indoor mixing is re-introduced. Up to 6 members per session will be able to use the space from this date.
<br /><br />
If you are able to provide a reference from a previous maker space, studio, or professional field, you may be able to attend before May 17<sup>th</sup>, but this will be considered on a case by case basis.
<br /><br />
Users book sessions via an online booking system, and entry to the workshop is electronically logged to ensure optimal numbers in the space at any one time.
<br /><br />
Users must wear face masks and sanitise regularly while in the space, and practice social distancing between users of Build Brighton and other studios.
<br /><br />
There are currently spaces available, so if you are interested in joining as restrictions lift, or you have any questions, please e-mail info@buildbrighton.com.
<br /><br />
Open evenings will resume from May 17<sup>th</sup>, so you can arrange to attend one now if you would like to join.
</span>
