<!-- In the future this could automatically be transformed to the next date by Javascript -->
<span class="next-open-evening-date">Covid-19 Update: Build Brighton reamins open in compliance with social distancing guidelines. Face masks and sanitiser are used throughout the space, while members currently book sessions via an online booking system to ensure optimal numbers at any one time. 

All equipment is cleaned down before and after use, and members submit photographs as they enter and leave the space to ensure hygeine is met. Build Brighton is also participating in track and trace to protect its members, whose details are logged electronically upon entry to the workshop. 

Tuesdays and Thursdays are currently limited 2 people in separate rooms for more vulnerable members, while up to 5 are permitted at once during the rest of the week. 

Open evenings are held once every two weeks, and we are currently looking for new members. If you'd like to attend, please email info@buildbrighton.com for more information</span>
