{{ define "main" }}
  <!-- Homepage hero -->
  {{ with .Site.GetPage "/home" }}
    {{ with .Resources.GetMatch "hero.md" }}
      <div class="container">
        <section class="hero is-light homepage-hero">
          <div class="hero-body">
            <p class="slogan">
              {{ .Plain }}
            </p>
          </div>
        </section>
      </div>
    {{ end }}
  {{ end }}

  {{ with .Site.GetPage "/home" }}
    {{ $pages := .Resources.ByType "page" }}

    {{ range sort $pages "Params.weight" }}
      {{ if ne .Name "hero.md" }}
        <section class="section">
          <div class="container">
            {{ if .Params.markdown }}
            <div class="columns is-desktop">
              <div class="column is-two-thirds is-offset-2">
                  <h2 class="title">{{ .Title }}</h2>
                  <div class="content">{{ .Content }}</div>
                </div>
              </div>
            {{ else }}
              <h2 class="title">{{ .Title }}</h2>
              {{ .Content }}
            {{ end }}
          </div>
        </section>
      {{ end }}
    {{ end }}
  {{ end }}

  <section class="section">
    <div class="container">
      <div class="columns is-desktop">
        <div class="column is-two-thirds is-offset-2">
          <h2 class="title">Contact Us</h2>
          
          {{ partial "contact-form" }}
        </div>
      </div>
    </div>
  </div>
{{ end }}
