{{ define "main" }}
  {{ with .Site.GetPage "/home" }}
    {{ $pages := .Resources.ByType "page" }}

    {{ range sort $pages "Params.weight" }}
      {{ if .Params.raw }}
        {{ .Content }}
      {{ else }}
        <section class="section">
          <div class="container">
            {{ if .Params.markdown }}
            <div class="columns is-desktop">
              <div class="column is-two-thirds is-offset-2">
                  <h2 class="title">{{ .Title }}</h2>
                  <div class="content">{{ .Content }}</div>
                </div>
              </div>
            {{ else }}
              {{ if .Title }}<h2 class="title">{{ .Title }}</h2>{{ end }}
              {{ .Content }}
            {{ end }}
          </div>
        </section>
      {{ end }}
    {{ end }}
  {{ end }}

  <section class="section">
    <div class="container">
      <div class="columns is-desktop">
        <div class="column is-two-thirds is-offset-2">
          <h2 class="title">Contact Us</h2>
          
          {{ partial "contact-form" }}
        </div>
      </div>
    </div>
  </div>
{{ end }}
